<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/desktop/webapplication/100006/static/">
    <meta charset="UTF-8">
    <title>Nginx配置</title>
    <link rel="stylesheet" href="element.css">
    <link rel="stylesheet" href="index.css">
    <script src="vue.js"></script>
    <script src="element.js"></script>
    <style>
        body {
            background: #303133;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="left-table-nav">
        <aside>
            <li>80配置</li>
            <li>80配置</li>
            <li>
                <svg t="1662642352094" class="icon" viewBox="0 0 1024 1024" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" p-id="2253" width="32" height="32">
                    <path d="M863.328262 481.340895l-317.344013 0.099772L545.984249 162.816826c0-17.664722-14.336138-32.00086-32.00086-32.00086s-31.99914 14.336138-31.99914 32.00086l0 318.400215-322.368714-0.17718c-0.032684 0-0.063647 0-0.096331 0-17.632039 0-31.935493 14.239806-32.00086 31.904529-0.096331 17.664722 14.208843 32.031824 31.871845 32.095471l322.59234 0.17718 0 319.167424c0 17.695686 14.336138 32.00086 31.99914 32.00086s32.00086-14.303454 32.00086-32.00086L545.982529 545.440667l317.087703-0.099772c0.063647 0 0.096331 0 0.127295 0 17.632039 0 31.935493-14.239806 32.00086-31.904529S880.960301 481.404542 863.328262 481.340895z"
                          p-id="2254" fill="#e6e6e6"></path>
                </svg>
            </li>
        </aside>
    </div>
    <div class="config">
        <el-descriptions  direction="vertical" :column="4" border>
            <el-descriptions-item :span="2" label="文件路径"></el-descriptions-item>
            <el-descriptions-item label="操作">
                <el-button size="mini" type="primary" round>保存配置</el-button>
            </el-descriptions-item>
        </el-descriptions>

        <el-tabs tab-position="top" style="height: 200px;">
            <el-tab-pane label="基本配置">
                <div class="table">
                    <header>
                        <li>属性名</li>
                        <li>属性值</li>
                        <li>操作</li>
                    </header>
                    <div class="table-body">
                        <ul>
                            <template v-for="(item,index) in baseConfig">
                                <li>
                                    <span><input :value="item.key"></span>
                                    <span><input :value="item.value"></span>
                                    <span><el-button @click="deleteConfig(this.baseConfig,index)" size="mini" type="danger" round>删除</el-button></span>
                                </li>
                            </template>

                        </ul>
                        <div class="list-bottom-add" @click="addBaseConfig(this.baseConfig)">
                            <svg t="1662642352094" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" p-id="2253" width="32" height="32">
                                <path d="M863.328262 481.340895l-317.344013 0.099772L545.984249 162.816826c0-17.664722-14.336138-32.00086-32.00086-32.00086s-31.99914 14.336138-31.99914 32.00086l0 318.400215-322.368714-0.17718c-0.032684 0-0.063647 0-0.096331 0-17.632039 0-31.935493 14.239806-32.00086 31.904529-0.096331 17.664722 14.208843 32.031824 31.871845 32.095471l322.59234 0.17718 0 319.167424c0 17.695686 14.336138 32.00086 31.99914 32.00086s32.00086-14.303454 32.00086-32.00086L545.982529 545.440667l317.087703-0.099772c0.063647 0 0.096331 0 0.127295 0 17.632039 0 31.935493-14.239806 32.00086-31.904529S880.960301 481.404542 863.328262 481.340895z"
                                      p-id="2254" fill="#e6e6e6"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </el-tab-pane>
            <el-tab-pane label="events配置">events拍之</el-tab-pane>
            <el-tab-pane label="http配置">http配置</el-tab-pane>
            <el-tab-pane label="server配置">server配置</el-tab-pane>
            <el-tab-pane label="负载均衡">负载均衡</el-tab-pane>
        </el-tabs>
    </div>
    <div class="empty">

    </div>
</div>

<script>
    let baseRootPath = "/100005";
    let jarApp = null;
    let app = {
        data() {
            return {
                eventsConfig:[],
                httpConfig:[],
                serverConfig:[],
                serverLocationConfig:[],
                upstreamConfig:[],
                baseConfig: [],
                tabIndex: 2,
                rootPath: baseRootPath,
            }
        },
        created() {
        },
        methods: {
            deleteConfig(config,index){
                config.splice(index,1)
            },
            addBaseConfig(config){
                config.push({
                    key: '',
                    value: ''
                })
            },
        },
    }
    jarApp = Vue.createApp(app)
    jarApp.use(ElementPlus);
    jarApp.mount("#app")
</script>
</body>
</html>