<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/desktop/webapplication/100005/static/">
    <meta charset="UTF-8">
    <title>Jar管理</title>
    <link rel="stylesheet" href="element.css">
    <link rel="stylesheet" href="index.css">
    <script src="vue.js"></script>
    <script src="element.js"></script>
    <style>
        .el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
            border-bottom: 1px #ffffff2e solid;
        }
        .el-table th.el-table__cell {
            background: transparent;
            color: #ffffff;
        }
        .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
            background: transparent;
        }
        .el-table {
            background-color: transparent;
            color: #ffffff;
        }
        .el-table th, .el-table tr, .el-table td {
            border: 0;
            background-color: transparent;
        }
        .el-table th, .el-table tr {
            background-color: transparent;
        }
    </style>
</head>
<body>
<div id="app">
    <el-table :data="tableData">
        <el-table-column prop="name" label="名称"></el-table-column>
        <el-table-column prop="id" label="进程ID"></el-table-column>
        <el-table-column prop="name" label="参数">
            <template #default="scope">
                <el-button size="small" type="success" @click="viewJvmProperties(scope.$index, scope.row)">查看
                </el-button>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template #default="scope">
                <el-button size="small" type="warning" @click="gc(scope.$index, scope.row)">GC</el-button>
                <el-button size="small" type="primary" @click="dashboard(scope.$index, scope.row)">仪表盘</el-button>
                <el-button size="small" type="success" @click="hotSwap(scope.$index, scope.row)">热替换</el-button>
                <el-button size="small" type="danger" @click="stopJvmProcess(scope.$index, scope.row)">终止</el-button>
            </template>
        </el-table-column>
    </el-table>
    <el-dialog v-model="dialogVisible" title="参数" width="40%" :before-close="handleClose">
        <span>
            <div style="margin-bottom: 10px;border-bottom: 1px #f1f1f1 solid;" v-for="(val,key,i) in properties" :key="i">{{key}} : {{val}}</div>
        </span>
        <template #footer>
            <span class="dialog-footer">
                <el-button type="primary" @click="dialogVisible = false">确定</el-button>
            </span>
        </template>
    </el-dialog>
    <el-dialog :before-close="dialogClose" v-model="dialogClassUploadVisible" title="选择Class文件">
        <el-alert :closable="false" :title="hotswapAlert" type="success"></el-alert>
        <el-upload :before-upload="beforeUpload"  :auto-upload="true" :data="uploadArg" :show-file-list="false"
                   :on-success="uploadSuccessCallback" drag :action="rootPath+'/upload'"
                   :multiple="false">
            <el-icon class="el-icon--upload">
                <upload-filled/>
            </el-icon>
            <div class="el-upload__text">请将Class文件托放到这里</div>
        </el-upload>
    </el-dialog>
</div>
<script>

    let baseRootPath = "/100005";
    let jarApp = null;
    let app = {
        data() {
            return {
                rootPath: baseRootPath,
                hotswapAlert: "请选择Class文件",
                dialogVisible: false,
                tableData: [],
                counter: 0,
                properties: [],
                dialogClassUploadVisible: false,
                selectJid: {"user": 2},
                uploadArg: {}
            }
        },
        created() {
            let that = this
            setInterval(function () {
                fetch(`${baseRootPath}/list`).then(data => data.json())
                    .then((data) => {
                        that.counter++
                        that.tableData = data
                    })
            }, 1000)
        },
        methods: {
            gc(index,row){
                fetch(`${baseRootPath}/gc?jid=`+row.id).then(data => data.text()).then((data) => {
                    this.$notify({
                        title: '成功',
                        type: 'success'
                    });
                })
            },
            dialogClose(){
                this.dialogClassUploadVisible=false;
                this.hotswapAlert="";
            },
            beforeUpload() {
                this.uploadArg = {"jid": this.selectJid}
            },

            dashboard(index,row){
                if (self===top){
                    location.href="/100005/dashboard?jid="+row.id
                    return
                }
               window.parent.postMessage({ "action": "open-application", "param": { "applicationId": "100005", "page": `dashboard?jid=${row.id}`,"property":{"windowTitle":"仪表盘","autoSaveWindowSize":false}  } }, "*")
            },
            hotSwap(index, row) {
                this.dialogClassUploadVisible = true
                this.selectJid = row.id
            },
            uploadSuccessCallback(response, file, fileList) {
                this.hotswapAlert = response
            },
            stopJvmProcess(index, row) {
                fetch(`${baseRootPath}/stop`, {
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                    method: "POST",
                    body: `id=${row.id}`
                }).then(data => data.text()).then((data) => {
                    this.$notify({
                        title: '成功',
                        type: 'success'
                    });
                })
            },
            viewJvmProperties(index, row) {
                this.dialogVisible = true
                this.properties = row.properties
            }
        },
    }
    jarApp = Vue.createApp(app)
    jarApp.use(ElementPlus);
    jarApp.mount("#app")
</script>
</body>
</html>